<div id="turma">
    <div class="container">
        <h1>Sobre o Jogo T-Rex e nossa Web App</h1>
        <div class="q-and-a">
            <hr class="mt-4 mb-4" />
            <h4>O Jogo T-Rex</h4>
            <p>
                O T-Rex Running, ou famoso jogo do dinossauro do Chrome,
                pode ser um ótimo passatempo quando a internet do
                IComp/UFAM cai. Trata-se de um conhecido easter egg,
                que funciona no celular e no navegador no computador.
            </p>
        </div>
    </div>
</div>