<div id="faq">
    <div class="container">
    <h1>Alguns professores do IComp/UFAM</h1>
    <% professores.forEach(function(prof){ %>
    <li><%= prof.nome %> - sala <%= prof.sala %></li>
    <% }) %>
    </div>
   </div>