<div class="container">
	<br><br>
	<h4>Clique no botao abaixo para confirmar a acao</h4>
	<form action="/turma/delete/<%=idTurma%>/<%=idProfessor%>" method="post">
		<input type="submit" value="Confirmar exclusao" class="btn btn-danger">
	</form>
</div>