<div class="container">
	<br><br>
<h4>Clique no botão abaixo para confirmar a ação</h4>
	<form action="/turma/delete/<%=idTurma%>/<%=idProfessor%>" method="post">
		<input type="submit" value="Confirmar exclusão" class="btn btn-danger">
	</form>
</div>