<div class="container">
    <br><br>
    <h1 style="display: inline-block; vertical-align: top">Criar nova turma</h1>
    <button style="display: inline-block; vertical-align: top" class="btn btn-primary float-right" onclick="salvaTurma()">Salvar turma</button><br>
    <% if(professor){%>
        <script>
            teacher = JSON.parse ('<%-JSON.stringify(professor) %>');
        </script>
    <% } %>
    <script src="/turma/create-turma.js"></script>
    <form>
        <h4 style="display: inline-block">Nome: </h4>
        <input type="text" id="bota-nome-turma"><br><br>
        <input class="btn btn-primary" type="button" onclick="getAluno()" value="Pesquisar aluno">
        <input type="text" id="bota-nome-aluno">
    </form>
    <table style="margin-top: 20px" class="table table-striped">
        <thead>
            <tr>
                <th>Alunos adicionados</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="lista-alunos">
        </tbody>
    </table>
</div>