<div id="welcome">
  <div class="container">
    <h1>Bem-vindo!</h1>
    <hr/>
    <p>Essa é a página inicial do BLOP para professores! A partir daqui, você pode acessar as demais funcionalidades oferecidas pelo sistema.</p>
  </div>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
