<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Entre na sua conta</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor, informe uma email valido.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor, insira sua senha.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember">Lembrar-me</label>
        </div>
        <p class="text-danger" v-if="cloudError==='badCombo'"><small>Seu login esta incorreto</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Ocorreu um erro. Por favor, verifique sua informacao e tente novamente, ou <a href="/contact">contact support</a> se o erro persistir.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Entrar</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot">Esqueceu sua senha?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
