<div id="faq">
  <div class="container">
    <h1>Sobre o BLOP!</h1>
    
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Sobre o que é jogo?</h4>
      <p>
        Blop! é um jogo que auxilia no ensino de lógica de programação na educação infantil, ensinando conceitos da área de computação e de pensamento computacional. E para melhor imersão do jogador usamos Realidade Virtual. Além disso, conta com um suporte para os professores acompanharem o processo de aprendizado das crianças.
      </p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Como funciona?</h4>
      <p>
        O objetivo do jogo é fazer com que o usuário complete as fases do jogo. Como cada fase está relacionada a um conceito computacional, abordamos 3 conceitos: lógica booleana, dividir para conquistar e repetição (loop),  quando o usuário completa uma fase podemos dizer que ele aprendeu o conceito ensinado.
      </p>
      <p>
        O jogo compreende um ambiente lúdico com conceito espacial, jogado em primeira pessoa onde o usuário poderá interagir diretamente com o ambiente e objetos ao seu redor. Durante o jogo é preciso que o  jogador esteja sempre motivado a querer completar o desafio dado a cada fase no qual ele terá que resolver.  
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
