<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png" />
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png" />
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png" />
        <img class="ship"
          alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo"
          src="/images/hero-ship.png" />
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png" />
      </div>
      <h1 class="display-4"> Blop!</h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Blop para professores!</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">

      <div class="features text-center">
        <a class="btn btn-outline-info mt-5" href="/faq">Saiba mais</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>