<div id="faq">
    <div class="container">
        <h1>Desempenho das turma :</h1>
        

    </div>

        </div>
        <div class="row">
          <div class="col-sm">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sigla</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Acões</th>
                </tr>
              </thead>
              <tbody>
               
                <tr>
             

                  <td>
                    <a href="/curso/read/<%= curso.id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="/curso/update/<%= curso.id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="/curso/delete/<%= curso.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>